<button class="templateBtn" (click)="router.navigate(['qasession'], {queryParams : {template: 'song'}})">Song</button>
<button class="templateBtn" (click)="startModal('song')">Song</button>
<button class="templateBtn" (click)="startModal('story')">Story</button>


<div class="row">
    <modal #myModal>

        <modal-header>
            <h3 style="text-transform: uppercase;">New {{templateType}} session</h3>
        </modal-header>

        <!--if no connection-->
        <modal-content *ngIf="!bag1Questions">
            <h1>NO CONNECTION TO DATABASE</h1>
        </modal-content>

        <modal-content *ngIf="bag1Questions">
            <div #scrollMe *ngIf="session?.data"  [scrollTop]="scrollMe.scrollHeight" class="questionAnswerStyles">
                <div *ngFor="let questionAnswer of session?.data">
                    <b class="question">{{ questionAnswer?.question }}</b>
                    <div [innerHTML]="questionAnswer?.answer"></div>
                </div>
            </div>

            <!--input-->
            <div *ngIf="inputting">

                <!--question-->
                <div>
                    <h1>{{ bag1Questions[currentQuestionIndex].$value }}</h1>
                </div>


                <!-- answer-->
                <div class="form-group">
                    <label>Answer:</label>
                    <textarea class="form-control" rows="8" id="answer" [(ngModel)]="textArea"></textarea>
                </div>

                <div class="row">
                    <div class="questionBtns">
                        <button (click)="questionSubmit()" class="btn btn-success">Next</button>
                    </div>  
                </div>

            </div>

        </modal-content>

        <modal-footer>
            <button class="btn btn-primary" (click)="closeModal()">Close</button>
            <!--<button class="btn btn-primary" (click)="deleteSession()">Delete Session</button>-->
        </modal-footer>
    </modal>
</div>