<div class="mySidebar panel panel-default">
    <ul>
        <li class="sidebar-brand">
            <a [routerLink]="['/welcome']">aMuseMe Home</a>
        </li>
        <li>
            <div class="container-fluid">
                <div class="row">Select QA Template</div>
                <div class="row">
                    <app-project-templates></app-project-templates>
                </div>
            </div>
        </li>
        <li>
            <a [routerLink]="['/reader']">Reader</a>
        </li>
    </ul>
</div>