.select {
    width: 160px;
    height: 34px;
}

h1 {
    margin: 10px;
}

p {
    margin: 10px;
}

.addVoteTitle {
    text-align: center;
    margin: 5px;
}

.upvoteArea td {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#submittedAnswer {
    margin-bottom: 15px;
}
