<div class="panel panel-default">
    <div class="panel-body">
        <div class="welcome">
            <h3>aMuseMe</h3>
            <p>
                The whole point of this is to stimulate creativity. Just go. Don't think. Use
                your intuition. Who cares what you write? You can always change it later. Just write
                something!
            </p>
            <p>
                Get your ideas down quickly. This is not an editor. This is designed solely to get
                stuff of paper quickly (metaphorically speaking). Once you get your ideas down,
                you can easily copy/paste your work away.
            </p>
            <p>
                If you are logged in as a Google user, all of your sessions are saved. You can
                delete a session at any time during the session or later.
            </p>
            <p>
                This project is hosted <a href="https://www.github.com/jsphweid/aMuseMe">on
                GitHub.</a>
            </p>
        </div>
    </div>
</div>