<div class="panel panel-primary">
    <div class="panel-heading">
        Welcome
    </div>
    <div class="panel-body">
        <h3>aMuseMe</h3>
        <p>
            There should be two or more giant buttons/windows. Squares.
            They'll be labeled with the sort of 'project' you want to start.
        </p>
    
    <!--Here is where all the buttons will go, maybe they should resize
    based on how many there are.-->
    <div class="container">
        <app-project-templates></app-project-templates>
    </div>


    </div>
</div>